@model IEnumerable<CodeFirst.Hero>

@{
    ViewBag.Title = "Список супер героев";
}

<h2>Список супер героев</h2>

<p>
    <button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '/Hero/AddHero'" hidden><span class="glyphicon glyphicon-plus"></span> Добавить супер героя</button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Изображение")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.Raw("<img style='width: 120px; border: 1px solid black; box - shadow: 0 0 7px black;' src=\"data:image/png;base64,"
                                + Convert.ToBase64String(item.Image.Img) + "\" />")
        </td>
        <td>
            @Html.ActionLink("Побробнее", "Details", new { idHero = item.Id }, null) |
            @Html.ActionLink("Удалить", "DeleteHero", new { idHero = item.Id }, null)
        </td>
    </tr>
}

</table>


